<div class="page-header">
  <h1>Give Me You Money!</h1>
</div>

<%= link_to '$$Buy$$', process_payment_path, method: :post, class: "btn btn-success" %>

<h2>Your Items</h2>

<table>
  <thead>
    <tr>
      <th>
        Item
      </th>
      <th>
        Quantity
      </th>
      <th>
        Per Item Price
      </th>
      <th>
        Total Price
      </th>
    </tr>
  </thead>

<tbody>
  <% @order.orderitems.each do |orderitem| %>

  <tr>
    <td>
      <%= orderitem.book.title %>
    </td>
    <td>
      <%= orderitem.quantity %>
    </td>
    <td>
      <%= orderitem.price %>
    </td>
    <td>
      <%= number_to_currency orderitem.total_price %>
    </td>
  </tr>

  <% end %>
</tbody>
</table>
