<%= form_for @book, url: book_path(id: @book.id) do |f| %>
<%= f.label :title %>
<%= f.text_area :title, class: "form-control" %>
<%= f.label :photo_url %>
<%= f.text_area :photo_url, class: "form-control" %>
<%= f.label :price %>
<%= f.text_area :price, class: "form-control" %>
<div class="form-group">
    <%= f.label :author %>
    <%= f.collection_select :author_id, Author.all, :id, :full_name, {prompt: true},  {class: "form-control"} %>
  </div>
<%= f.submit class:"submit"%>
  <% end %>
