<!DOCTYPE html>

<html>

<head>
  <title>IronLibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<header>
  <nav>
    <%= link_to root_path do %>
    <i class = "fa fa-home fa-2x"></i>
    <% end %>
  </nav>
</header>

<body>

<%= yield %>

</body>
</html>
